body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10%;
}

.logo {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    animation: wobble 15s infinite ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.slot-image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
    height: 200px;
    margin-top: 200px;
    transform: translateY(1%);
    
    img {
        width: 80%;
        height: 100%;
        object-fit: contain;
    }
}

.handle-image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 200px;
    margin-top: 179px;
    transform: translateX(38.5%) translateY(-40%);
    transition: 1s;
    
    img {
        width: 80%;
        height: 100%;
        object-fit: contain;
    }
}

.rotate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 200px;
    margin-top: 179px;
    transform: translateX(41%) translateY(-40%) rotate(30deg);
    transition: 1s;
    
    img {
        width: 80%;
        height: 100%;
        object-fit: contain;
    }
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/IMG_1230.jpeg) no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    filter: brightness(0.5);
    z-index: -1;
}

.slotcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1;
    width: 74%;
    gap: 5%;
}

.slot1, .slot2 {
    height: 125px;
    /* border: 1px solid black; */
    border-radius: 7.5px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    display: flex;
    /* background: #fafafa;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#slot1 {
    width: 20%;
}

#slot2 {
    width: 75%;
}

.slot1 .symbols1, .slot2 .symbols2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 5s;
    width: 100%;
}
/* 
.slot1, .symbols1 {
    width: 100%;
} */

.slot1 .symbol, .slot2 .symbol {
    width: 100%;
    height: 125px;
    font-size: 60px;
    color: #533D19;
    line-height: 65px;
    display: block;
    text-align: center;
    padding-top: 25px;

    p {
        margin:0;
    }
}

/* .slot2 .symbol {
    text-align: left;
} */

.buttons {
    visibility: hidden;
}

@keyframes logo {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}